absl-py==2.0.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
apex @ file:///var/lib/jenkins/apex
asgiref==3.7.2
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
boto3==1.19.12
botocore==1.22.12
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coremltools==5.0b5
Cython==3.0.6
dataclasses-json==0.6.4
decorator==5.1.1
Django==4.2.8
exceptiongroup==1.2.0
execnet==2.0.2
expecttest==0.1.6
faiss-cpu==1.7.4
filelock==3.9.0
flatbuffers==2.0
frozenlist==1.4.1
fsspec==2024.2.0
future==0.18.3
geojson==2.5.0
ghstack==0.7.1
google-auth==2.25.2
google-auth-oauthlib==1.0.0
greenlet==3.0.3
grpcio==1.60.0
h11==0.14.0
httpcore==1.0.3
httpx==0.25.2
huggingface-hub==0.20.3
hypothesis==5.35.1
idna==3.6
image==1.5.33
imageio==2.33.1
importlib-metadata==3.10.1
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
junitparser==2.1.1
langchain==0.1.7
langchain-community==0.0.20
langchain-core==0.1.23
langsmith==0.0.92
lazy-loader==0.3
librosa==0.10.1
lintrunner==0.10.7
llvmlite==0.37.0
lxml==4.9.3
Markdown==3.3.4
MarkupSafe==2.1.3
marshmallow==3.20.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
networkx==2.8.8
nltk==3.8.1
numba==0.54.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1626271779350/work
oauthlib==3.2.2
ollama==0.1.6
opt-einsum==3.3.0
optionloop==1.0.7
packaging==23.2
Pillow==9.5.0
platformdirs==4.1.0
pluggy==1.3.0
pooch==1.8.0
protobuf==3.20.2
psutil==5.9.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.6.1
pydantic-core==2.16.2
Pygments==2.15.0
PyMuPDF==1.23.22
PyMuPDFb==1.23.22
pytest==7.3.2
pytest-cpp==2.3.0
pytest-flakefinder==1.1.0
pytest-rerunfailures==13.0
pytest-shard==0.1.2
pytest-xdist==3.3.1
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rockset==1.0.3
rsa==4.9
s3transfer==0.5.2
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.3.2
scipy==1.6.3
sentence-transformers==2.3.1
sentencepiece==0.1.99
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.3.7
SQLAlchemy==2.0.27
sqlparse==0.4.4
sympy==1.12
tb-nightly==2.13.0a20230426
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
threadpoolctl==3.2.0
tifffile==2023.12.9
tokenizers==0.15.2
tomli==2.0.1
torch @ file:///var/lib/jenkins/pytorch/dist/torch-2.2.0a0%2Bgitd925d94-cp39-cp39-linux_x86_64.whl#sha256=5c41a5478a9cff41d8eb2b44017ba3890baff2eaa71b1433aef64839da660623
torchvision==0.17.0
tqdm==4.66.1
transformers==4.37.2
triton @ git+https://github.com/ROCmSoftwarePlatform/triton@066e7deb0b8394c73ca67a4d31cde708018b1f13#subdirectory=python
typing-extensions==4.9.0
typing-inspect==0.9.0
unittest-xml-reporting==3.2.0
urllib3==1.26.18
werkzeug==3.0.1
xdoctest==1.1.0
yarl==1.9.4
z3-solver==4.12.2.0
zipp==3.17.0
